<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ufmealmeter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_my_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ufmealmeter.RestaurantActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ufmealmeter.FoodItemActivity"
            android:label="@string/select_food_item"
            android:parentActivityName="com.example.ufmealmeter.RestaurantActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ufmealmeter.RestaurantActivity" />
        </activity>
        <activity
            android:name="com.example.ufmealmeter.CaloriesSummaryActivity"
            android:label="@string/title_activity_calories_summary"
            android:parentActivityName="com.example.ufmealmeter.FoodItemActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ufmealmeter.FoodItemActivity" />
        </activity>
        <activity
            android:name="com.example.ufmealmeter.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:parentActivityName="com.example.ufmealmeter.RestaurantActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ufmealmeter.RestaurantActivity" />
        </activity>
    </application>

</manifest>